<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hdz_full">
    <xacro:arg name="initial_positions_file" default="$(find hdz_moveit_assistant)/config/initial_positions.yaml" />

    <!-- Import hdz_full urdf file -->
    <xacro:include filename="$(find hdz_full_description)/urdf/hdz_full.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="hdz_full.ros2_control.xacro" />


    <xacro:hdz_full_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
